extends layout

block content
  .container
    h1 Welcome to Elite Network!
    p.lead Are you rich? Are you tired of all these peasants that are not worthy of your company? Then Elite Network is definitely what you need! This social network, thanks to its dissuasive registering fees, will keep you away from proletarians. Every user you will chat with is as rich as you! Isn't that wonderful? You can also compete with other rich people to see who has the biggest amount of money. Have fun!
    if (!user)
      a(href="/login", style="font-size:30px; font-weight:500") Login
      br
      a(href="/register", style="font-size:30px; font-weight:500") Register
      br
      br
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
    p.lead This project has been created by Karim Benhmida, Henri Hannetel, Jules Karpman, and Romain Lambert from INSA Lyon, France. Do not hesitate to provide them with financial support for all their good work.